body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffdce8;

    font-family: "Comic Sans MS", cursive;
}

.game {
    width: 700px;
    min-height: 450px;

    background: #fff5f8;

    border-radius: 30px;
    padding: 40px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(120, 40, 70, 0.2);
}

h1 {
    font-size: 50px;
    color: #501e32;
    margin-top: 30px;
}

p {
    font-size: 25px;
    color: #501e32;
}

button {
    margin-top: 100px;

    padding: 20px 40px;

    border: none;
    border-radius: 15px;

    background: #dc6496;
    color: white;

    font-family: "Comic Sans MS", cursive;
    font-size: 25px;

    cursor: pointer;
}

button:hover {
    background: #c94f83;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#question-screen button {
    display: block;
    width: 80%;
    margin: 20px auto;
}

#wrong-screen img,
#correct-screen img {
    width: 300px;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
}


@media (max-width: 600px) {

    body {
        padding: 20px;
        box-sizing: border-box;
    }

    .game {
        width: 100%;
        min-height: auto;

        padding: 25px 20px;

        box-sizing: border-box;
        border-radius: 20px;
    }

    h1 {
        font-size: 34px;
        margin-top: 15px;
    }

    p {
        font-size: 20px;
    }

    button {
        width: 100%;
        margin-top: 25px;

        padding: 16px 20px;

        font-size: 20px;
    }

    #question-screen button {
        width: 100%;
        margin: 15px auto;
    }

    #wrong-screen img,
    #correct-screen img {
        width: 100%;
        max-width: 300px;
    }

    h2 {
        font-size: 24px;
    }
}